html{
  background-color:#9e9e9e;
}

body{
  background:fixed; 
  background-repeat:no-repeat;
  background-size:cover;
  background-position:0px 130px;
}
h4{
  text-align:center;
  color:white;
}

#titulo{
  font-size:35px;
  color:white;
}

#enlaces{
  margin-top:20px;
}

#ImagenCentro{
  padding:10px;
  margin:auto;
  width:250px;
}

li{
  width:150px;
  text-align:center;
  font-size:1.2rem;
}

p {
  line-height: 2rem;
  padding:10px;
  padding-left:10px;
  color:white;
}

.button-collapse {
  color: #26a69a;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}